/*
 * Globals
 */
 @media (max-width: 768px) {
    .table-responsive {
      overflow-x: auto;
    }
    /* Add additional styling for smaller screens */
  }
  
  .cover-container {
    max-width: 60em;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    color: rgb(34, 32, 32);
  }